h1 {
    color: rgba(25,115,200,255);
    font-family: "Courier New", monospace;
    font-size: 7pt;
    /*font-weight: bold;*/
    border: 0;
    margin: 0;
    padding: 0;
}
h2 {
    color: rgba(155,115,20,255);
    font-family: "Courier New", monospace;
    font-size: 7pt;
    /*font-weight: bold;*/
    border: 0;
    margin: 3px 0 1px 0;
    padding: 0;
}

p {
    color: rgba(25,115,200,255);
    font-family: "Courier New", monospace;
    font-size: 8pt;
    border: 0;
    margin: 0;
    padding: 0;
}